{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/banner.png' %}" class="banner" alt="Bootstrap" width="200">
        </a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Listas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'verCartas' %}">Lista de Cartas</a></li>
                        <li><a class="dropdown-item" href="{% url 'listarMazos' %}">Lista de Mazos</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Publicaciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'publicacionCarta' %}">Intercambio de Cartas</a></li>
                        <li><a class="dropdown-item" href="#">Intercambio de Mazos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mazos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'crearMazo' %}">Crear Mazo</a></li>
                        <li><a class="dropdown-item" href="{% url 'misMazos' %}">Mis Mazos</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Panel Admin</a></li>
                            <li><a class="dropdown-item" href="{% url 'ingresarCarta' %}">Agregar Cartas</a></li>
                            <li><a class="dropdown-item" href="{% url 'tablaCartas' %}">Tabla de Cartas</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Banlist
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_superuser %}
                        <li><a class="nav-link" href="{% url 'agregarCartasBanlist' %}">Crear Banlist</a></li>
                        {% endif %}
                        <li><a class="nav-link" href="{% url 'mostrarBanlist' %}">Banlist</a></li>

                    </ul>
                </li>

            </ul>
            

            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                <a class="nav-link" href="#">❤️Donar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        &#128100 
                        {% if user.is_authenticated %}
                            {{ user.username }}
                        {% else %}
                            Invitado
                        {% endif %}
                    </a>
                    {% if user.is_authenticated %}
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="nav-item">
                                <a role="button" class="dropdown-item" href="{% url 'editarPerfil' %}">Editar Perfil</a>
                            </li>
                            <li class="nav-item">
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="boton-logout dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="nav-item">
                                <a role="button" class="dropdown-item" href="{% url 'login' %}">Ingreso</a>
                            </li>
                            <li class="nav-item">
                                <a role="button" class="dropdown-item" href="{% url 'signup' %}">Registro</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>