body{
  margin: 0px;
}

nav {
  background-color: rgb(248, 248, 248);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.boton-logout, nav a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

nav a:link{
  text-decoration: none;
  padding: 5px;
}

.boton-logout{
  text-decoration: none;
  padding: 5px;
}

.boton-logout:hover , nav a:hover{
  background-color: rgb(209, 209, 209);
  border-radius: 10px;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 20px black;
}

.boton-logout:focus , nav a:focus{
  background-color: rgb(230, 230, 230);
  color: purple;
  border-radius: 10px;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 10px black;
}

.left-nav{
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  justify-items: flex-end;
}

.yugi{
  gap: 10px;
}

.yugi-img{
  border-radius: 10px;
}

.botonmenu{
  margin: 10px;
  padding: 5px;
  border-style: none;
}

.botonmenu:hover{
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  margin: 10px;
}

.nav-button{
  margin-left: 10px;
  padding: 5px;
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 0px 5px black;
}

.nav-button:hover{
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
  background-color: rgb(221, 221, 221);
  box-shadow: 0px 0px 15px black;
}

.nav-button:focus{
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
  background-color: rgb(211, 211, 211);
  box-shadow: 0px 0px 5px black;
}

.donar{
  margin-right:10px;
}

.left-nav{
  list-style-type: none;
}