{% extends 'base/base.html' %}

{% load static %}

{% block titulo %}
    Banlist
{% endblock %}

{% block contenido %}
    <div class="container">

        <div class="alert alert-info display-1 text-center my-5">
            Banlist (Lista de Cartas Restringidas)
        </div>

        <div class="accordion" id="accordionEdiciones">
            {% for edicion in ediciones %}
            <div class="accordion-item">
                
            <h2 class="accordion-header" id="heading{{ edicion.id }}">
                <button class="accordion-button collapsed" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapse{{ edicion.id }}" 
                        aria-expanded="false" 
                        aria-controls="collapse{{ edicion.id }}">
                {{ edicion.nombre }}
                </button>
            </h2>
            
            <div id="collapse{{ edicion.id }}" 
                class="accordion-collapse collapse" 
                aria-labelledby="heading{{ edicion.id }}" 
                data-bs-parent="#accordionEdiciones">

                <div class="accordion-body">

                    <div class="card mb-3">
                        <h5 class="card-header">Cartas Prohibidas</h5>
                        <div class="card-body">
                            <div class="row">
                                {% if edicion.prohibidas %}
                                    {% for card in edicion.prohibidas %}
                                    <div class="col-md-4 my-3">
                                        <div class="card">
                                            <img src="{{ card.image }}" class="card-img-top" alt="No hay Imagen">
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No hay cartas en esta categoría.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>



                    <div class="card mb-3">
                        <h5 class="card-header">Cartas Únicas</h5>
                        <div class="card-body">
                            <div class="row">
                                {% if edicion.unicas %}
                                    {% for card in edicion.unicas %}
                                    <div class="col-md-4 my-3">
                                        <div class="card">
                                            <img src="{{ card.image }}" class="card-img-top" alt="No hay Imagen">
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No hay cartas en esta categoría.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <h5 class="card-header">Cartas Limitadas</h5>
                        <div class="card-body">
                            <div class="row">
                                {% if edicion.limitadas %}
                                    {% for card in edicion.limitadas %}
                                    <div class="col-md-4 my-3">
                                        <div class="card">
                                            <img src="{{ card.image }}" class="card-img-top" alt="No hay Imagen">
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No hay cartas en esta categoría.</p>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            </div>

            {% endfor %}

        </div>

    </div>
{% endblock %}
