{% extends 'base/base.html' %}

{% block titulo %}
    Publicaciones
{% endblock %}

{% block contenido %}

    <div class="container mt-4">

        <div class="alert alert-info d-flex justify-content-center">
            <h1>Publicaciones de Intercambio</h1>
        </div>

        <div class="dropdown">
            <a class="btn btn-success" href="{% url 'postCarta' %}">Crear Publicación</a>
        
            {% if categoria_menu %}
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for item in categoria_menu %}
                        <a class="dropdown-item" href="{% url 'categoria' item|slugify %}">{{ item }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <hr>

        {% for publicacion_intercambio in object_list %}

            <div class="card d-flex mb-4">
                <div class="card-header d-flex justify-content-between" style="position: relative;">
                    <div>
                        {{ publicacion_intercambio.autor.username }} 
                        - <a class="stretched-link" href="{% url 'detallePublicacion' publicacion_intercambio.pk %}">{{ publicacion_intercambio.titulo }}</a> 
                    </div>
                    <div>
                        Publicado hace {{ publicacion_intercambio.fecha|timesince }}
                    </div>
                </div>
                <div class="card-body">
                    {{ publicacion_intercambio.resumen}}
                </div>
                
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <small>Categoria: <a href="{% url 'categoria' publicacion_intercambio.categoria %}"> {{ publicacion_intercambio.categoria }} </a></small>
                    </div>
                    {% if user.id == publicacion_intercambio.autor.id %}
                        <div>
                            <a class="btn btn-primary" href="{% url 'editarPostCarta' publicacion_intercambio.pk %}">Editar📝</a> 
                            - <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{publicacion_intercambio.pk}}">Eliminar ❌</a>
                        </div>
                        <!-- Modal Eliminar -->
                        <div class="modal fade" id="exampleModal{{publicacion_intercambio.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Post</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Seguro que quieres eliminar el post: {{publicacion_intercambio.titulo}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        {% include 'base/base_delPost.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                    
            </div>
        {% endfor %}
        

    </div>

{% endblock %}