{% extends 'base/base.html' %}

{% load static %}

{% block titulo %}
    Yugimon Home
{% endblock %}

{% block contenido %}
    <article class="d-flex flex-wrap justify-content-center my-5">

        
        <div class="container text-center">

            <div class="alert alert-info">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <h1>Bienvenido Admin {{ user.username }}!</h1>
                    {% else %}
                        <h1>BIENVENIDO {{ user.username }}, COMIENZA A CREAR TU PROPIO MAZO!</h1>
                    {% endif %}
                {% else %}
                    <h1>BIENVENIDO INVITADO, CREA TU CUENTA Y COMIENZA A CREAR TUS PROPIOS MAZOS!</h1>
                {% endif %}
            </div>

            <div class="row">

                <div class="izquierda col-12 col-lg-6">
                    <img src="{% static 'img/background.png' %}" alt="logo yugimon" style="width:360px; border-radius: 360px;">
                    <p style="margin-top: 20px;">Yugimon GO Mazos Deluxe es todo lo que un Jugador de TCG necesita para comenzar a crear sus mazos. Conoce TODAS las Cartas en nuestra base de datos, también encontrarás Mazos creados por la comunidad para que te inspires al crear los tuyos. Te falta alguna carta para completar tu colección? Busca en nuestro tablero de anuncios otro jugador que la quiera cambiar. Esto y mucho más podrás encontrar en Yugimon GO Mazos Deluxe.</p>
                </div>

                <div class="derecha col-12 col-lg-6 d-flex flex-wrap align-items-center justify-content-center">

                    <div class="card carta-home mb-3 w-100">
                        <div class="card-body d-flex">
                            <div class="d-flex align-items-center me-2">
                                <img src="{% static 'img/logo.png' %}" width="30px">
                            </div>
                            <div class="texto d-flex row flex-grow-1 text-start">
                                <h4>Conoce las Cartas</h4>
                                <span>
                                    Hemos añadidos las últimas cartas a nuestra base de datos.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card carta-home mb-3 w-100">
                        <div class="card-body d-flex">
                            <div class="d-flex align-items-center me-2">
                                <img src="{% static 'img/logo.png' %}" width="30px">
                            </div>
                            <div class="texto d-flex row flex-grow-1 text-start">
                                <h4>Banlist</h4>
                                <span>
                                    La banlist ha sido modificada según el último cambio de balance.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card carta-home mb-3 w-100">
                        <div class="card-body d-flex">
                            <div class="d-flex align-items-center me-2">
                                <img src="{% static 'img/logo.png' %}" width="30px">
                            </div>
                            <div class="texto d-flex row flex-grow-1 text-start">
                                <h4>Notas para los Mazos</h4>
                                <span>
                                    Añadimos la opción de puntuar los mazos de los otros jugadores.
                                </span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card carta-home mb-3 w-100">
                        <div class="card-body d-flex">
                            <div class="d-flex align-items-center me-2">
                                <img src="{% static 'img/logo.png' %}" width="30px">
                            </div>
                            <div class="texto d-flex row flex-grow-1 text-start">
                                <h4>Comparador de Mazos</h4>
                                <span>
                                    Añadimos la opción de comparar tus mazos con los de otros jugadores.
                                </span>
                            </div>
                        </div>
                        
                    </div>

                </div>

            </div>
            

    </article>
{% endblock %}